body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f2124;
}

.charttooltip{
  color: #FFF;
  font-size: 12px;
}

.mapTooltip{
  background-color: #333;
  color: #FDFDFD;
  padding: 1rem;
  border-radius: 4px;
}
.mapTooltip-name{
  color: white;
  font-size: 16px;
}
.mapTooltip-value{
  color: #ffed07;
}

.mapTooltip-date{
  color: #EEE;
  font-size: 14;
}
.mapTooltip-note{
  color: #777;
  font-size: 10px;
}